*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

nav{
    background-color:plum;
}

.container-header{
    background-color: red;
}

.container-inf{
    background-color: orange;
}

.input{
    border-radius: 30%; 
}