@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Playfair+Display:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-mae{
  max-width: 1920px;
  /*max-height: 6192px; */
  margin:0 auto;
  overflow: hidden;
}

.logo{
  height: 6vh;
  width: 10vw;
  padding-left: 5%;
/*  background-color: black; */
 /* margin-top:15px; */
}
header{
  position: fixed;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 50px;
 background-color:white;
 /* opacity: 50%; */
}

.container-header{
 /*background-color: red; */
  width: 60vw;
  height: 3vh;
 /* margin-left:; */
 /* margin-top: 20px; */
}

.container-list{
  display:flex;
  justify-content: space-evenly;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  color: #9767A9;
  font-size: 1em;
  width: 60vw;
  height: 3vh;
/* background-color:wheat; */
}

.container-redes-sociais{
 /* background-color: orange; */
  padding-left: 1%;
  padding-right: 5%;
  /*width: 20vw;*/
  display: flex;
  height: 50%;
 /* margin-top: 15px; */
  
}

nav{
 /* background-color:white; */
 /* opacity: 5%; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /*position: fixed; */
}

.input-buscar{
  border: solid;
  border-radius: 50px;
  border-color: #9767A9;
  width: 10vw;
  height: 80%;
}

.imagem-buscar{
width: 20%;
height: 50%;
position: relative;
right: 80%;
top: 4%;
  
}
.logo-redes-sociais{
 width: 2vw;
 height: 100%;
 margin-right: 20%;
}

.container-buscar{
/*  background-color: black; */
  height: 5vh;
  padding-left: 2%;
  display: flex;
  align-items: center;
 /* margin-top: 15px; */
}

body{
  width: 100%;
  height: 100%;
}

main{
 padding-top: 50px; 
}

.container-inicial-body{
 background-image:url(Assets/imagemBody.png);
 background-size: 100%;
 background-repeat:no-repeat;
 background-position:center;
 width: 100%;
 height: 85vh;
}

.container-principal-body{
/* background-color: palevioletred; 
  opacity: 0.5; */
  width: 70%;
  margin:auto;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25%;
 
} 

h1{
 font-family: 'Playfair Display', serif;
 color: white;
 font-size: 5em;
}

.paragrafo-principal-body{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 2em;
}

.container-h1{
/*  background-color: orange; */
    width: 50%;
    height: 200px;
    display: flex;
   /* padding-top: 3%; */
}

.container-principal-paragrafo-body{
   /* background-color: green; */
    width: 40%;
    height: 100px;
    display: flex;
   /* padding-top: 5%; */
}

.container-secundario-body{
  width: 100%;
  height: 300px;
  background-color: #9767A9; 
 /* opacity: 50%; */
  display: flex;
  justify-content: center;
}

.h2-container{
  width: 50%;
  height: 150px;
 /* background-color: teal; */
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  position: relative;
}

.paragrafo-segundo-body{
  width: 35%;
  height: 250px;
 /* background-color:violet; */
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  padding-left: 2%;
  padding-top: 2%;
}

.container-passos{
  width:100%;
  height: 2800px;
 /* background-color: #40E0D0; */
}

.coluna-passos{
  width: 85%;
  height: 2800px;
/*  background-color: #00BFFF; */
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: space-between
}

.container-passos-primeiro{
  width: 49%;
  height: 800px;
/*  background-color: yellow; */
  position: relative;
  bottom: 50px;
}

.imagem-passos{
  width: 100%;
  height: 60%;
}

.conteiner-passos-texto{
  width: 80%;
  height: 300px;
  background-color: #9767A9;
  color:white;
  padding: 15px;
  margin: auto;
  position: relative;
  bottom: 120px;
}

.h3-container{
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  padding-bottom: 15px;
}

.container-passos-paragrafo{
  font-family: 'Montserrat', sans-serif;
  font-size: 0.85em;
}

.container-passos-segundo{
  width: 49%;
  height: 800px;
/*  background-color: yellow; */
  position: relative;
  top: 180px;
}

.conteiner-passos-texto-segundo{
  width: 80%;
  height: 250px;
  background-color: #9767A9;
  color:white;
  padding: 15px;
  margin: auto;
  position: relative;
  bottom: 120px; 
}

.container-passos-terceiro{
  width: 49%;
  height: 800px;
/*  background-color: yellow; */
  position: relative;
  bottom: 150px;
}

.conteiner-passos-texto-terceiro{
  width: 80%;
  height: 250px;
  background-color: #9767A9;
  color:white;
  padding: 15px;
  margin: auto;
  position: relative;
  bottom: 120px; 
}

.container-passos-quarto{
  width: 49%;
  height: 800px;
/*  background-color: yellow; */
  position:relative;
  top: 100px;
}

.conteiner-passos-texto-quarto{
  width: 80%;
  height: 220px;
  background-color: #9767A9;
  color:white;
  padding: 15px;
  margin: auto;
  position: relative;
  bottom: 120px; 
}

.container-passos-quinto{
  width: 49%;
  height: 800px;
 /* background-color: yellow; */
  position: relative;
  bottom: 180px;
}

.conteiner-passos-texto-quinto{
  width: 80%;
  height: 220px;
  background-color: #9767A9;
  color:white;
  padding: 15px;
  margin: auto;
  position: relative;
  bottom: 120px;
}

.container-passos-sexto{
  width: 49%;
  height: 800px;
/*  background-color: yellow; */
  position: relative;
  bottom: 80px;
}

.conteiner-passos-texto-sexto{
  width: 80%;
  height: 220px;
  background-color: #9767A9;
  color:white;
  padding: 15px;
  margin: auto;
  position: relative;
  bottom: 120px;
}

.container-passos-setimo{
  width: 49%;
  height: 700px;
 /* background-color: yellow; */
  position: relative;
  bottom: 300px;
}

.conteiner-passos-texto-setimo{
  width: 80%;
  height: 220px;
  background-color: #9767A9;
  color:white;
  padding: 15px;
  margin: auto;
  position: relative;
  bottom: 120px;
}

.container-passos-final{
  width: 49%;
  height: 200px;
 /* background-color: pink; */
  position: relative;
  bottom: 90px;
}

.imagem-passos-final{
  width: 100%;
  height: 100px;
}

.container-imagens-colunas{
  width: 85%;
  height: 600px;
 /* background-color: 	#556B2F; */
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.coluna-tipo-um{
  width: 25%;
  height: 100%;
 /* background-color:	#8B4513; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.primeira-imagem-colunas{
  width: 100%;
  height: 73%;
}

.segunda-imagem-colunas{
  width: 100%;
  height: 25%;
}

.coluna-tipo-dois{
  width: 15%;
  height: 100%;
 /* background-color:	#8B4513; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.terceora-imagem-colunas{
  width: 100%;
  height: 35%;
 
}

.quarta-imagem-colunas{
  width: 100%;
  height: 35%;
  
}

.quinta-imagem-colunas{
  width: 100%;
  height: 25%;
}

.sexta-imagem-colunas{
width: 100%;
height: 73%;
}

.setima-imagem-colunas{
width: 100%;
height: 25%;
}

.oitava-imagem-colunas{
  width: 100%;
  height: 100%;
}

.nona-imagem-colunas{
  width: 100%;
  height: 28%
}

.decima-imagem-colunas{
  width: 100%;
  height: 70%
}

.container-footer{
  width: 100%;
  height: 70px;
  background-color: #9767A9;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  color:white
  
}

.paragrafo-footer{
width: 40%;
height: 45px;
/*background-color:turquoise; */
font-size: 0.65em;
margin-left: 100px;
}

.direcoes-footer{
  width: 20%;
  height: 60px;
  /*background-color:	#7B68EE; */
  margin-right: 100px;
  display: flex;
  font-size: 0.75em;
  align-items: center;
}

.imagem-seta{
  width: 20%;
  height: 40px;
}